<a href="https://colab.research.google.com/github/dutech14/Encrypt_and_Decrypt/blob/main/myfirstBigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [10]:
import findspark
findspark.init()

In [11]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.sql("select 'spark' as Hello")
df.show()

+-----+
|Hello|
+-----+
|spark|
+-----+

In [12]:
df= spark.read.csv("toy_dataset.csv")
df.show()

+------+------+------+---+-------+-------+
|   _c0|   _c1|   _c2|_c3|    _c4|    _c5|
+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [13]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [14]:
df= spark.read.csv("toy_dataset.csv",inferSchema=True,header=True)

In [15]:
df.printSchema()

root
 |-- Number: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: double (nullable = true)
 |-- Illness: string (nullable = true)

In [16]:
df= spark.read.options(inferSchema='True',header='True').csv("toy_dataset.csv")

In [17]:
df.show()

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
|    20|Dallas|Female| 35|23688.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [18]:
df.count()

150000

In [19]:
df.where(df.Gender == "Male").count()

83800

In [20]:
totalentries = df.count()

In [21]:
print(totalentries)

150000

In [22]:
df2= df.sample(0.01)
df2.show()

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|    39|Dallas|Female| 61|39881.0|    Yes|
|    82|Dallas|  Male| 46|27092.0|    Yes|
|   105|Dallas|Female| 56|40122.0|     No|
|   174|Dallas|Female| 44|39808.0|     No|
|   230|Dallas|  Male| 61|65721.0|     No|
|   259|Dallas|  Male| 54|51490.0|     No|
|   363|Dallas|Female| 33|31781.0|     No|
|   415|Dallas|  Male| 35|55379.0|     No|
|   493|Dallas|Female| 32|29352.0|     No|
|   527|Dallas|  Male| 62|63050.0|     No|
|   691|Dallas|  Male| 55|50728.0|     No|
|   706|Dallas|  Male| 44|52407.0|    Yes|
|   849|Dallas|Female| 31|49693.0|     No|
|   981|Dallas|Female| 62|29060.0|    Yes|
|  1040|Dallas|  Male| 58|41653.0|    Yes|
|  1213|Dallas|  Male| 36|51756.0|     No|
|  1225|Dallas|  Male| 43|43054.0|     No|
|  1405|Dallas|  Male| 46|52693.0|     No|
|  1508|Dallas|  Male| 28|52455.0|     No|
|  1570|Dallas|  Male| 57|47954.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [23]:
df.groupBy("City").count().show()

+---------------+-----+
|           City|count|
+---------------+-----+
|         Dallas|19707|
|    Los Angeles|32173|
|  New York City|50307|
|Washington D.C.| 8120|
|  Mountain View|14219|
|         Boston| 8301|
|      San Diego| 4881|
|         Austin|12292|
+---------------+-----+

In [24]:
numcities = df.groupBy("CIty").count().count()

In [33]:
illpeople= df2.where(df.Illness =="Yes").count()
Notillpeople= df2.where(df.Illness =="No").count()

In [26]:
print("People with illness :" + str(Notillpeople))
print("People with No illness :" + str(Notillpeople))

People with illness :137861
People with No illness :137861

In [34]:
df2 = df.groupBy('illness').count()
df2.show()

+-------+-----+
|illness|count|
+-------+-----+
|     No|    1|
|    Yes|    1|
+-------+-----+

In [39]:
rows = df2.select("count").collect()

In [38]:
rows= df2.select("count").collect()

In [40]:
rows[0]

Row(count=137861)

In [41]:
print(type(rows[0]))

<class 'pyspark.sql.types.Row'>

In [42]:
value =rows[0][0]
print(type(value))
print(value)

<class 'int'>
137861

In [43]:
value =rows[1][0]
print(type(value))
print(value)

<class 'int'>
12139

In [44]:
value =rows[1][1]
print(type(value))
print(value)

IndexError: tuple index out of range

In [45]:
value =rows[0][1]
print(type(value))
print(value)

IndexError: tuple index out of range

In [48]:
df3 = df.groupBy("Gender").count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|66200|
|  Male|83800|
+------+-----+

In [49]:
value_1 = rows[0][0]
value_2= rows[1][0]
percentage_ratio = (value_1 /value_2 ) *100
print(percentage_ratio)

1135.686629870665

In [61]:
rows= df.groupBy("Gender").count().select("count").collect()
import math
females=rows[0][0]
males= rows[1][0]
total= males + females
percentagemales= round((males/total)*100)
percentagefemales= round((females/total)*100)
#print("Percentage of males :" + str(percentagemales))
#print("Percentage of females :" + str(percentagefemales))

print("{0:0d} % male : {1:0d} % female".format(percentagemales,percentagefemales))

56 % male : 44 % female

In [63]:
rows= df.groupBy("Gender").count().select("count").collect()
print(rows)

[Row(count=66200), Row(count=83800)]

In [64]:
df.show()

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
|    20|Dallas|Female| 35|23688.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [65]:
df.groupBy(df.where(df.Gender == "Male")).count().show()

PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got DataFrame.

In [67]:
df2= df.where(df.Illness == "Yes").groupBy(df.Gender).count()
df2.show()

+------+-----+
|Gender|count|
+------+-----+
|Female| 5331|
|  Male| 6808|
+------+-----+

In [68]:
df3= df.where(df.Illness == "Yes").groupBy(df.City).count()
df3.show()

+---------------+-----+
|           City|count|
+---------------+-----+
|         Dallas| 1613|
|    Los Angeles| 2568|
|  New York City| 4021|
|Washington D.C.|  668|
|  Mountain View| 1178|
|         Boston|  686|
|      San Diego|  394|
|         Austin| 1011|
+---------------+-----+

In [74]:
from pyspark.sql.functions import col,asc,desc
df2= df.where(df.Illness == "Yes").groupBy(df.City).count().orderBy(col("count").desc())
df2.take(1)

[Row(City='New York City', count=4021)]

In [75]:
from pyspark.sql.functions import mean

In [77]:
df.filter(df.Illness =="Yes").select(mean("Income")).show()

+----------------+
|     avg(Income)|
+----------------+
|91277.8753604086|
+----------------+

In [84]:
averagehealthy=df.filter(df.Illness =="No").select(mean("Income")).withColumnRenamed("avg(Income)","Mean Healthy Income")
averageill = df.filter(df.Illness =="Yes").select(mean("Income")).withColumnRenamed("avg(Income)","Mean Non Healthy Income")
averagehealthy.join(averageill).show(vertical=True)

-RECORD 0------------------------------------
 Mean Healthy Income     | 91250.59017416093
 Mean Non Healthy Income | 91277.8753604086

In [91]:
df.filter(df.Illness=="Yes").select("Age").summary().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             12139|
|   mean| 45.02084191449048|
| stddev|11.554129904969155|
|    min|                25|
|    25%|                35|
|    50%|                45|
|    75%|                55|
|    max|                65|
+-------+------------------+

In [96]:
df2 = df.where("Illness == 'No'").groupBy(df.City,df.Age).count().orderBy(col("Age").desc())
df2.show()

+---------------+---+-----+
|           City|Age|count|
+---------------+---+-----+
|         Boston| 65|   99|
|  Mountain View| 65|  174|
|  New York City| 65|  577|
|    Los Angeles| 65|  347|
|Washington D.C.| 65|   77|
|         Dallas| 65|  252|
|      San Diego| 65|   52|
|         Austin| 65|  141|
|         Boston| 64|  236|
|  New York City| 64| 1169|
|Washington D.C.| 64|  194|
|    Los Angeles| 64|  755|
|  Mountain View| 64|  363|
|         Dallas| 64|  455|
|      San Diego| 64|  108|
|         Austin| 64|  279|
|         Dallas| 63|  451|
|Washington D.C.| 63|  188|
|         Boston| 63|  204|
|  Mountain View| 63|  313|
+---------------+---+-----+
only showing top 20 rows

In [97]:
df.filter(df.Illness=="No").sort(col("Age").desc()).show()

+------+---------------+------+---+-------+-------+
|Number|           City|Gender|Age| Income|Illness|
+------+---------------+------+---+-------+-------+
|130010|Washington D.C.|Female| 65|57299.0|     No|
|   834|         Dallas|  Male| 65|49903.0|     No|
|131747|Washington D.C.|Female| 65|71856.0|     No|
|  2504|         Dallas|Female| 65|38583.0|     No|
|130029|Washington D.C.|Female| 65|78606.0|     No|
|   990|         Dallas|Female| 65|49281.0|     No|
|129592|Washington D.C.|Female| 65|80260.0|     No|
|   134|         Dallas|Female| 65|33676.0|     No|
|130053|Washington D.C.|Female| 65|61441.0|     No|
|  1045|         Dallas|  Male| 65|78511.0|     No|
|129872|Washington D.C.|  Male| 65|71274.0|     No|
|   318|         Dallas|Female| 65|22225.0|     No|
|130066|Washington D.C.|  Male| 65|78831.0|     No|
|  1139|         Dallas|Female| 65|43044.0|     No|
|129914|Washington D.C.|  Male| 65|53705.0|     No|
|   177|         Dallas|Female| 65|50311.0|     No|
|130104|Washington D.C.|  Male| 65|76877.0|     No|
|  1179|         Dallas|  Male| 65|39217.0|     No|
|130911|Washington D.C.|  Male| 65|85846.0|     No|
|   512|         Dallas|Female| 65|35905.0|     No|
+------+---------------+------+---+-------+-------+
only showing top 20 rows

In [98]:
from pyspark.sql.functions import max
df.select(max("Age")).show()

+--------+
|max(Age)|
+--------+
|      65|
+--------+